@material-ui/core==4.11.0
@material-ui/icons==4.9.1
@testing-library/jest-dom==4.2.4
@testing-library/react==9.3.2
@testing-library/user-event==7.1.2
axios==0.20.0
history==5.0.0
material-ui-search-bar==1.0.0
react==16.13.1
react-dom==6.13.1
react-redux==7.2.1
react-router-dom==.2.0
react-scripts==3.4.3
react-search==2.1.1
react-search-field==1.1.0
redux==4.0.5
redux-devtools-extension==2.13.8
redux-thunk==2.3.0
 

 